<form class="form-purchase" [formGroup]="formPayByBank">
  <div class="w-100">
    <div class="relative">
      <div class="card-icons-left">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.058" cy="11.058" r="7.06194" stroke="#DEDEDE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M20.0063 20.0024L16.0547 16.0508" stroke="#DEDEDE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <input class="input-field input-field-center pl-48 body-4 w-100" type="text" placeholder="Search for your bank" (input)="onInputBankName($event)" />
    </div>
  </div>
  <div class="combo-bank w-100">
    <div class="items-pay-by-card">
      <div class="item-pay-by-card pad-0" [ngClass]="{ 'item-selected': this.formPayByBank.value.shortBankName === bank.shortName }" (click)="setShortBankName(bank.shortName)" *ngFor="let bank of banksFilter.slice(0, 3)">
        <img class="logo" [src]="bank.logo" alt="{{bank.shortName}} Logo">
      </div>
    </div>
    <div class="items-pay-by-card">
      <div class="item-pay-by-card pad-0" [ngClass]="{ 'item-selected': this.formPayByBank.value.shortBankName === bank.shortName }" (click)="setShortBankName(bank.shortName)" *ngFor="let bank of banksFilter.slice(3, 6)">
        <img class="logo" [src]="bank.logo" alt="{{bank.shortName}} Logo">
      </div>
    </div>
    <div class="enter-bank">
      <div class="button-1 color-primary" style="line-height: 28px;">Enter bank details</div>
      <div class="body-2 color-gray-2">(Takes 1-2 business days)</div>
    </div>
  </div>
  <div class="w-100">
    <div class="relative">
      <label class="input-label-default color-gray-1" for="cardholderName">Cardholder Name</label>
      <input class="input-field body-4 w-100" type="text" id="cardholderName" formControlName="cardholderName"
        (input)="onInputCardholderName()" />
    </div>
  </div>
  <div class="w-100 divi-2">
    <div class="w-100">
      <div class="relative">
        <label class="input-label-default color-gray-1" for="billingAddress">Billing Address</label>
        <select class="input-field body-4 w-100 address" id="billingAddress" formControlName="billingAddress">
          <option selected disabled hidden></option>
          <option *ngFor="let option of countries">{{ option }}</option>
        </select>
        <div class="card-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M8 10L12 14L16 10" stroke="#00214D" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
    <div class="w-100">
      <div class="relative">
        <label class="input-label-default color-gray-1" for="postalCode">Postal Code</label>
        <input class="input-field body-4 w-100" type="text" id="postalCode" formControlName="postalCode" />
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="relative">
      <label class="input-label-default color-gray-1" for="taxIDNumber">Tax ID Number (Optional)</label>
      <input class="input-field body-4 w-100" type="text" id="taxIDNumber" formControlName="taxIDNumber" />
    </div>
  </div>
</form>
<form class="form-purchase mt-24" [formGroup]="formTotal">
  <div class="w-100">
    <div class="relative">
      <label class="input-label-default color-gray-1" for="discountCode">Discount Code (Optional)</label>
      <input class="input-field body-4 w-100" type="text" id="discountCode" formControlName="discountCode" />
      <div class="card-icons">
        <a (click)="findDiscount()" class="apply">Apply</a>
      </div>
    </div>
    <div class="mt-4 body-5 color-red">{{discountMessage}}</div>
  </div>
  <div class="total">
    <div class="detail-pay">
      <div class="item">
        <div class="body-5 color-black">Subtotal</div>
        <div class="body-5 color-black" *ngIf="formTotal.value.subTotal">{{ '$' + (formTotal.value.subTotal | number: '1.2-2') }}</div>
      </div>
      <div class="item">
        <div class="body-5 color-black">Discount</div>
        <div class="body-5 color-black" *ngIf="formTotal.value.discount">{{ '-$' + (formTotal.value.discount | number: '1.2-2') }}</div>
      </div>
      <div class="item">
        <div class="body-5 color-black">Taxes</div>
        <div class="body-5 color-black" *ngIf="formTotal.value.taxes">{{ '$' + (formTotal.value.taxes | number: '1.2-2') }}</div>
      </div>
    </div>
    <div class="item">
      <div class="body-1 color-black">Total Pay</div>
      <div class="body-1 color-black" *ngIf="formTotal.value.totalPay">{{ '$' + (formTotal.value.totalPay | number: '1.2-2')
        }}</div>
    </div>
  </div>
  <div class="button-pay button-1 color-gray-1" *ngIf="!formTotal.value.totalPay">Pay</div>
  <div class="button-pay button-1 color-gray-1 button-pay-hover" *ngIf="formTotal.value.totalPay" (click)="payWithBank()">Pay {{
    '$' + (formTotal.value.totalPay | number: '1.2-2') }}</div>
</form>