.w-100 {
  width: 100%;
  box-sizing: border-box;
}

.settings-container {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 244px 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-information {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-48 {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.circle-200 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.short-information .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.black {
  color: var(--neutral-black, #2F2F2F);
}

.gray-1 {
  color: var(--neutral-grey-1, #616161);
}

.gray-2 {
  color: var(--neutral-grey-2, #999);
}

.gray-3 {
  background: var(--neutral-grey-3, #DEDEDE);
}

.orange {
  color: var(--Secondary, #F58926);
}

.red {
  color: var(--danger-danger-text, #FF3830);
}

.white {
  color: var(--neutral-white, #FEFEFE);
}

.heading-6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.heading-7 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.body-4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.body-5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.body-6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body-8 {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.button-1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.button-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.button-3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.pointer {
  cursor: pointer;
}

.go-pro {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--neutral-grey-3, #DEDEDE);
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(237, 237, 237, 0.50);
  cursor: pointer;
}

.go-pro .title {
  display: flex;
  gap: 2px;
}

.detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.detail .list {
  display: flex;
  width: 171px;
  padding: 6px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.detail .list .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.detail .list .button {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: border-left-color 0.3s ease;
}

.detail .list .button .icon {
  width: 16px;
  height: 16px;
}

.detail .list .buttons .button:hover {
  border-left-color: var(--Secondary, #F58926);
}

.line {
  height: 1px;
  align-self: stretch;
}

.profile-picture {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-button {
  display: flex;
  padding: 7px 8.8px 7px 9px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #D0D7DE;
  background: #FFF;
  gap: 2px;
  cursor: pointer;
}

.input-file {
  display: none;
}

.label-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edit {
  color: #24292F;
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}


.detail-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 500px;
}

.relative {
  position: relative;
}

.input-field {
  display: flex;
  height: 56px;
  padding: 24px 0 8px 16px;
  align-items: center;
  align-self: stretch;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--neutral-grey-3, #DEDEDE);
  background: var(--neutral-white, #FEFEFE);
}

.input-field-center {
  padding: 8px 16px;
}

.input-field:focus {
  border: 2px solid #F58926;
}

.input-label {
  left: 17px !important;
  top: 8px !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 16px;
}

.input-label-default {
  position: absolute;
  pointer-events: none;
  left: 17px;
  top: 19px;
  font-size: 16px;
}

.relative {
  position: relative;
}

.mt-4 {
  margin-top: 4px;
}

.mt-16 {
  margin-top: 16px;
}

.divi-2 {
  display: flex;
  gap: 16px;
}

.verify {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  text-decoration: none;
  font-weight: 600;
}

.verifi {
  color: blue;
  cursor: pointer;
}

.verified {
  color: green;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.button-save {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Secondary, #F58926);
  cursor: pointer;
}

.fill-orange {
  fill: #F58926;
}

.fill-orange-stroke {
  stroke: #F58926;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  width: 400px;
  height: auto;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  background: var(--neutral-white, #FEFEFE);

  /* Shadow/xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.modal-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.lab-success {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 12.857px 10.143px 13.393px 7px;
  justify-content: center;
  align-items: center;
}

.lab-fail {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 18.689px 9.357px 17.939px 8.643px;
  justify-content: center;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.ml-24 {
  margin-left: 24px;
}

.info-rank-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 500px;
  border-radius: 4px;
  border: 1px solid var(--neutral-grey-3, #DEDEDE);
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(237, 237, 237, 0.50);
}

.info-rank-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.info-rank-container .content .sub-content {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.info-rank-container .content .sub-content .crown {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 15px;

  border-radius: 6px;
  border: 1.5px solid var(--neutral-grey-3, #DEDEDE);
}

.info-rank-container .buttons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.info-rank-container .buttons .button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
}

.bg-orange {
  background: var(--Secondary, #F58926);
}

.border-orange {
  border: 2px solid var(--Secondary, #F58926);
}

/*Tung VL */

.wrapper {
  width: stretch;
  padding: 0 3% 3%;
}

.general-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.detail-content {
  display: flex;
  gap: 20px;
}

.divider {
  height: 1px;
  width: 180px;
  background-color: var(--neutral-grey-2);
  margin: 15px 0;
}

.nav-setting-item {
  border-left: 4px solid transparent;
  /* border-bottom: 4px solid transparent; */
  display: block;
  color: var(--neutral-grey-2);
  padding: 10px 20px;
}

.button-orange {
  border-left-color: var(--secondary-color);
  color: #F58926;
}

.logout-item {
  color: red !important;
}

.setting-user-detail{
  padding: 0 30px;
}

.detail-information {
  display: flex;
  gap: 50px;
}

.profile-picture-mb{
  display: none;
  
}

@media only screen and (max-width: 900px) {
  .general-content {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .detail-content {
    flex-direction: column;
    align-items: center;
  }

  .go-pro {
    width: stretch;
    padding: 10px;
  }

  .profile-picture-mb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .logout-item,
  .divider, .profile-picture {
    display: none;
  }

  .setting-user-detail{
    width: stretch;
    padding: 0;
  }
  .button-save, .info-rank-container, .detail-inputs, .setting-actions{
    box-sizing: border-box;
    width: 100%;
  }
  
  .nav-settings {
    display: flex;
    justify-content: space-around;
  }

  .nav-setting-item {
    text-align: center;
    width: calc(100% / 3);
  }

  .detail-information {
    flex-direction: column;
  }

  .button-orange {
    border-left: unset;
    border-bottom: 4px solid var(--secondary-color);
  }
}